@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Kentwell';
  src: url('../assets/fonts/Kentwell.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
